body {
    background-color: rgb(83, 83, 83);
    text-align: center;
}

.h1 {
    color: rgb(7, 165, 7);
    background-color:rgb(99, 236, 99);
}

.cuadro {
    padding: 25px;
    border: 15px double #3788d4;
    background-color: rgb(216, 216, 216);
    width: 750px;
    height: 100px;
    top: auto;
    margin: 0 auto;
}

.teclado {
    border: 7px solid rgb(7, 165, 7);
    background-color:  #36af9d;
    width: 490px;
    max-width: 490px;
    min-width: 490px;
    height: 275px;
    min-height: 275px;
    max-height: 275px;
    margin:0 auto;
}

#mostrarpantalla {
    white-space: pre-line;
}

#tu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 0;
    margin-top: 0;
    line-height: 1;
}